# git init
# git config user.email "ajithks98086@gmail.com"
# git config user.name "Ajith K. S."
# git remote add origin https://github.com/Ajith369369/my-portfolio-888.git
# touch .gitignore
# code .gitignore
# git add .
# git commit -m "First Commit"
# git push origin master
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
# 
